body {
  font-family: Arial, sans-serif;
 background: #87ceeb;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0;
  flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  background: #e8f5e9;
  padding:30px 40px;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0,0,0,0.2);
  width: 600px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
}

.search-bar button {
  padding: 8px 15px;
  margin-left: 8px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #45a049;
}

.movie-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.movie-table th, .movie-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  border:none;
}



.view { 
  display: inline-block;           
  background-color: #2196F3;       
  color: white;                  
  padding: 6px 12px;              
  margin: 0 3px;
  border-radius: 5px;              
  text-decoration: none;           
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;        
  font-size: 16px;                 
  border: none;                
}

.view:hover {
  opacity: 0.85;      
}
.delete {
  display: inline-block; 
  background: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 3px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;  
  font-family: sans-serif;         
  font-size: 16px;  
}
.delete:hover {
  opacity: 0.85;      
}
.edit {
  display: inline-block; 
  background: #ff9800;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 3px;
  border-radius: 5px;
  cursor: pointer;
}
.edit:hover {
  opacity: 0.85;      
}


.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination button {
  background: #0056b3;   /* navy blue */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:hover {
  background: #003d80;   /* darker navy */
}