/* nav.css */

nav {
  width: 100%;
  background-color: #1e1e2f;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20;
  position: fixed;
  top: 0;
  left: 0;
  margin:auto;
}


nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 8px 15px;
  border-radius: 6px;
}

nav a:hover {
  background-color: #ffffff;
  color: #1e1e2f;
}

nav a.active {
  background-color: #ff9800;
  color: #fff;
  font-weight: bold;
}