body {
       font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
     margin: 0;
    padding: 0
    }

    .container {
      background: #e8f5e9;  
      padding: 40px 30px;
      border-radius: 10px;
      box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
      width: 400px;
      max-width: 90%;
      margin: auto;
    }

    .container h2 {
      text-align: center;
      margin-bottom: 30px;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #555;
      font-weight: bold;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 16px;
      box-sizing: border-box;
    }

    input[readonly] {
      background-color: #e9ecef;
      cursor: not-allowed;
    }

    button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 6px;
      background: #6a0dad;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover {
      background: #ff7043;;
    }

    .note {
      margin-top: 10px;
      font-size: 14px;
      color: #777;
      text-align: center;
    }