body {
  font-family: Arial, sans-serif;
  background: #87ceeb; 
  display: flex;
  align-items: center;
  min-height: 100vh;
   margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.container {
  background: #e8f5e9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  width: 400px;
  text-align: center;
  margin: auto;
}

.container h2 {
  margin-bottom: 15px;
  color: #333;
}

.movies-list {
  margin: 20px 0;
  text-align: left;
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 10px;
}

.movies-list p {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px;
  margin: 6px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-btn {
  background: #6a5acd; /* purple */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #5b4ab0;
}

.movie-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.movie-item p {
  margin: 4px 0;
  color: #333;
  line-height: 1.4;
}

.movie-item strong {
  color: #4b0082; /* deep purple for movie title */
  font-size: 16px;
}