<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Movie</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'create.css' %}">
</head>
<body>{% include 'partials/navbar.html' %}
    <div class="container">
    <h2>Edit Movie</h2>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
      <!-- Title -->
      <label for="title">Title:</label>
      <input type="text" value="{{movie.title}}" id="title" name="ti"  required>

      <!-- Description -->
      <label for="description">Description:</label>
      <textarea id="d" name="d" rows="4" > {{movie.desc}}</textarea>

      <!-- Thumbnail Upload -->
       {% if movie.thumbnail %}
      <p><strong>Current Thumbnail:</strong></p>
      <img src="{{ movie.thumbnail.url }}" width="200" alt="Thumbnail"><br>
      {% endif %}
      <label for="thumbnail">Change Thumbnail:</label>
      <input type="file" id="thumbnail" name="t" accept="image/*">

      <!-- Video Upload -->
      {% if movie.video %}
        <p><strong>Current Video:</strong></p>
        <video width="300" controls>
          <source src="{{ movie.video.url }}" type="video/mp4">
        </video><br>
      {% endif %}
      <label for="video">Change Video:</label>
      <input type="file" id="video" name="v" accept="video/*">
      <!-- Submit -->
      <button type="submit">Update</button>
    </form>
    </div>

</body>